[submodule "facebook-ios-sdk"]
	path = facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "Twitter-OAuth-iPhone"]
	path = Twitter-OAuth-iPhone
	url = git://github.com/bengottlieb/Twitter-OAuth-iPhone
[submodule "oauthconsumer"]
	path = oauthconsumer
	url = git://github.com/jdg/oauthconsumer.git
[submodule "yajl"]
	path = yajl
	url = git://github.com/lloyd/yajl.git
[submodule "TouchJSON"]
	path = TouchJSON
	url = git://github.com/TouchCode/TouchJSON.git
[submodule "MGTwitterEngine"]
	path = MGTwitterEngine
	url = git://github.com/ctshryock/MGTwitterEngine.git
