[submodule "facebook-ios-sdk"]
	path = facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "Twitter-OAuth-iPhone"]
	path = Twitter-OAuth-iPhone
	url = git://github.com/chrisdannen/Twitter-OAuth-iPhone.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "yajl-objc"]
	path = yajl-objc
	url = git://github.com/gabriel/yajl-objc.git
[submodule "json-framework"]
	path = json-framework
	url = git://github.com/stig/json-framework.git
[submodule "oauthconsumer"]
	path = oauthconsumer
	url = git://github.com/jdg/oauthconsumer.git
[submodule "GSTwitPicEngine"]
	path = GSTwitPicEngine
	url = git://github.com/chrisdannen/GSTwitPicEngine.git
[submodule "OARequestHeader"]
	path = OARequestHeader
	url = git://github.com/chrisdannen/OARequestHeader.git
